 <section id="about" class="about bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Who is Stefanie Ding?</h2>
                {{!-- <img src="img/portfolio-img.png" alt="portfolio image" height="42" width="42"> --}}
                <p class="lead">
                    Stefanie loves combining art and technology. She has worked as a Senior Animator at Dunnamic in Langhorne, PA and a few years after as a freelance artist, doing illustrations, animations, and logos. She has spent a lot of her summers as a caricature artist at Six Flags Great Adventure. Motivated to expand her technical knowledge, Stefanie enrolled in Rutgers Coding Bootcamp, learning how to make websites and apps in just 24 weeks. She is incredibly excited to find the next opportunity that will allow her to utilize all her skills. In her spare time, Stefanie loves singing, playing ukulele, and writing screenplays with her sister.
                </p>
            </div>
        </div>
    </div>
</section>