<!-- Character Design -->
<section id="character-design" class="portfolio">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h2>Character Design</h2>
          <hr class="small">
          <div class="row">
                <div class="col-md-3">
                    <div class="portfolio-item">
                        <a href="" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/designs/ElsaFinal.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="portfolio-item">
                        <a href="" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/designs/MaleDesigns.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="portfolio-item">
                        <a href="" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/designs/RoosterLogo.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="portfolio-item">
                        <a href="" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/designs/Miamy_Final.jpg">
                        </a>
                    </div>
                </div>
           </div>

           <div class="row">
                <div class="col-md-3">
                    <div class="portfolio-item">
                        <a href="" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/designs/Female Designs.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="portfolio-item">
                        <a href="" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/designs/ToothlessFinal.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="portfolio-item">
                        <a href="" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/designs/scout.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="portfolio-item">
                        <a href="" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/designs/girlscout.png">
                        </a>
                    </div>
                </div>
           </div>

        </div>
    </div>
</section>