<!-- Websites -->
<section id="websites-built" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Websites Built</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="https://pixartrivia.herokuapp.com/" target="_blank">
                                <img class="img-portfolio img-responsive" src="img/websites/PixarTrivia.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" target="_blank">
                                <img class="img-portfolio img-responsive" src="img/websites/VirtualBookshelf.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" target="_blank">
                                <img class="img-portfolio img-responsive" src="img/websites/Burger.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#" target="_blank">
                                <img class="img-portfolio img-responsive" src="img/websites/ScrapeTheNews.png">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="/websites" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
